<main class="form-signin">
    <!-- <form (ngSubmit)="insertDomain()"> -->
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Sign Up Form</h1>
      <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error in creating account</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class="reg_container">
      <div class="form-floating">
        <input type="text" class="form-control"  name="username" placeholder="" formControlName="username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control"  name="fname" placeholder="" formControlName="fname">
        <label for="floatingPassword">First Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control"  name="lname" placeholder="" formControlName="lname">
        <label for="floatingPassword">Last Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control"  name="password" placeholder="" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control"  name="email" placeholder="" formControlName="email">
        <label for="floatingInput">Email Address</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control"  name="phoneno" placeholder="" formControlName="phoneno">
        <label for="floatingPassword">Phone No</label>
      </div>
      
    </div> 
     <button class="btn btn-primary w-50 py-2" type="submit" style="    left: 128px;
    position: relative;">Register</button>   
      <div *ngIf="isLoading" class="spinner_cont">
        <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </form>

    <!-- <div *ngIf="formSubmitted" class="container-fluid mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Domain Submitted
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{domain.domain_name}}</li>
          <li class="list-group-item">{{domain.description}}</li>
          <li class="list-group-item">{{domain.duedate}}</li>
        </ul>
      </div>
    </div> -->
  </main>