<main class="form-signin w-100 m-auto">
    <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Wrong Username and Password</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <h1 class="h3 mb-3 fw-normal">Sign In</h1>
  
      <div class="form-floating">
        <input autocomplete="off" class="form-control" formControlName="email" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input autocomplete="off" type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="form-check text-start my-3">
        <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Remember me
        </label>
        <br>
        <label class="form-check-label" for="flexCheckDefault">
         <a style="color:maroon" routerLink="/sign-up"> Dont have an account?</a>
        </label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit"><a style="color: white; text-decoration: none;">Sign in</a></button>
    </form>
  </main>
  <div *ngIf="isLoading" class="spinner_cont">
    <div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
    </div>
  </div>