<body>
    <div class="header_container">
    <app-header style="position:static;"></app-header>
    </div>
    <div class="d-flex col" 
        style="bottom:0;position:relative;min-height:calc(100% - 60px);height:fit-content;background-color: white;">

        <!-- <app-sidebar style="float:left;"></app-sidebar> -->

        <!-- <div style="width:922px;float:right;padding:10px;"> -->
        <div class="container-fluid" style="width:100%;">
            <router-outlet></router-outlet>
        </div>
        
        <!-- <app-storage style="width: 20%; margin-right: 12px; margin-left: 12px;"></app-storage> -->

    </div>

</body>




<!-- For raw HTML testing purposes -->

<!-- <router-outlet></router-outlet> -->